/* DEBUG:  */

.contained{
  position: relative;
}

header .contained:not(nav .contained){
  padding: 50px 0;
}

#portfolio .contained{
  margin: 15px 0;
}

/* STRUTTURA */
body{
  font-family: 'Montserrat', sans-serif;
}

nav, #copyright{
  background-color: #2C3E50;
}

header{
  color: white;
  background-color: #1ABC9C;
}

footer{
  padding-top: 50px;
  position: relative;
  color: white;
  background-color: #3A546D;
}

h1, h2, h3{
  font-weight: 700;
}

p{
  font-size: 1.2em;
  line-height: 1.5em;
}

#portfolio, #about, #contact-me,{
  padding: 50px 0;
}

#about{
  color: white;
  background-color: #1ABC9C;
}

/* REGOLE SPECIFICHE */
nav{
  font-weight: 700;
}

nav .contained{
  padding: 40px 0;
}

nav .contained>a{
  font-size: 25px;
  line-height: 25px;
  color: white;
}

nav ul{
  float: right;
  line-height: 25px;
}

nav ul li{
  font-size: 15px;
  display: inline-block;
  margin-left: 20px;
}

header img{
  max-width: 250px;
  margin-bottom: 30px;
}

header h1{
  font-size: 50px;
}

.star-white, .star-grey{
  margin: 20px 0 30px;
}

.star-white hr{
  border-top: 4px solid white;
}

.star-grey hr{
  border-top: 4px solid #2C3E50;
}

hr{
  width: 120px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
}

.fa-star{
  font-size: 35px;
  margin: 0 15px;
  vertical-align: middle;
}

#portfolio img{
  max-width: 100%;
}

#about button{
  padding: 20px 40px;
  margin-top: 20px;
  background-color: #1ABC9C;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

form input,
form textarea{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  display: block;
  margin-bottom: 20px;
  padding: 10px 0;
}

#copyright{
  margin-top: 50px;
  position: relative;
  bottom: 0;
}

#copyright .contained{
  padding: 40px 0;
  line-height: 25px;
}
