/* DEBUG:  */

body{
  text-align: center;
  line-height: 100px;
}

[class*=col-]{
  min-height: 100px;;
  background-color: rgba(0,255,0,0.3);
  border: 1px solid green;
}

.container, .row{
  height: 100%;
}

/* STRUTTURA */
nav{
  background-color: #2C3E50;
}

header{
  background-color: #1ABC9C;
}

footer{
  background-color: #3A546D;
}

#about{
  background-color: #1ABC9C;
}
